* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: khaki;
}

h1 {
    font-weight: bold;
    color: black;
    font-size: 36px;
}

ul {
    list-style-type: square;
}

li {
    font-size: 18px;
    font-style: italic;
}

img {
    height: 400px;
    width: auto;
    border-radius: 10px;
}
